html{
    scroll-behavior: smooth;
}

.deco{
    background: black;
}

.deco1{
    margin: 0;
    padding: 0;
}

.deco2{
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.deco1 :hover{
    background-color: blue;
}

.deco3{
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}

.title{
    margin: 0;
    background-color: aqua;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}

.hobbies{
    background-color: greenyellow;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.gustos{
    border: 15px solid yellow;
    padding: 50px;
    margin: 50px;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px rgb(222, 222, 30);
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-yellowish-old-vintage-paper-parchment-background-image_355706.jpg);
}

.habilidades{
    background-color: greenyellow;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.fortalezas{
    border: 15px solid red;
    padding: 50px;
    margin: 50px;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px rgb(215, 21, 21);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNutQoVvIE0bzl-XY9nDs0anmf1w4XDCIrMDtbBIUyQbQsgU6k6rI3miTOZfC5dOuWLbw&usqp=CAU);
}

.conocimientos{
    background-color: greenyellow;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.saber{
    border: 15px solid palevioletred;
    padding: 50px;
    margin: 50px;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px rgb(194, 104, 134);
    background-image: url(https://st.depositphotos.com/1813957/4622/i/450/depositphotos_46227067-stock-photo-abstract-pink-background.jpg);
}

.aspiraciones{
    background-color: greenyellow;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.aspiro{
    border: 15px solid peru;
    padding: 50px;
    margin: 50px;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px rgb(195, 121, 47);
    background-image: url(https://i.pinimg.com/originals/be/de/8a/bede8a0ea934ad8a9964da14d2190846.jpg);
}

.actitudes{
    background-color: greenyellow;
    font-size: 30px;
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.acti{
    border: 15px solid mediumseagreen;
    padding: 50px;
    margin: 50px;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    box-shadow: 10px 10px rgb(34, 142, 83);
    background-image: url(https://st4.depositphotos.com/10109696/38446/i/600/depositphotos_384465672-stock-photo-dark-green-metallic-wall-with.jpg);
}

.contacto{
    font-family: 'Cookie', cursive;
    font-size: 50px;
    margin-top: 100px;
}

.datos{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}

.mensaje{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 18px;
}

.final{
    font-family: 'Cookie', cursive;
    font-size: 40px;
    margin-top: 80px;
}