.bar {
  background: white;
  transition: 0.3s ease all;
}
.bar.dark {
  background: black;
}
.bar.dark .yo img {
  border: 4px solid white;
}
.bar.dark .title__animation {
  color: white;
}
.bar.dark .section {
  border: 0.3rem solid white;
}
.bar.dark .text1 {
  color: white;
}
.bar.dark .text2 {
  color: white;
}
.bar.dark .text3 {
  color: white;
}
.bar.dark .text4 {
  color: white;
}
.bar.dark .text5 {
  color: white;
}
.bar.dark .contact-style {
  border: 0.4rem solid white;
}
.bar.dark .contact {
  color: white;
}
.bar.dark .mensaje {
  color: white;
}
.bar.dark .datos {
  color: white;
}
.bar.dark .form {
  border: 0.4rem solid white;
  color: white;
}
.bar.dark .election {
  border: 0.2rem solid white;
}
.bar.dark .final {
  color: white;
}
.bar.dark .thanks {
  color: white;
}
.bar.dark .icon img {
  background: white;
}
.bar.dark .icon1 img {
  background: white;
}
.bar::-webkit-scrollbar {
  width: 18px;
}
.bar::-webkit-scrollbar-track {
  background: hsl(250deg, 60%, 50%);
  border-radius: 10px;
  border-right: 1px solid white;
  margin-block: 0.5rem;
}
.bar::-webkit-scrollbar-thumb {
  background: hsl(250deg, 100%, 30%);
  border: 0.2rem solid hsl(250deg, 60%, 50%);
  border-right: 1px solid white;
  border-radius: 10px;
}
.bar::-webkit-scrollbar-thumb:hover {
  background: hsl(250deg, 80%, 20%);
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  outline: none;
}
.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: white;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.3s ease all;
  box-shadow: 0px 0px 2px 2px black;
}
.switch.active {
  background: orange;
  color: black;
}
.switch.active::after {
  right: 0;
  left: unset;
}
.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background: none;
  color: white;
}

.check1,
.check2,
.check3,
.check4,
.jojo {
  position: relative;
  width: 5rem;
  cursor: pointer;
}
.check1::before,
.check2::before,
.check3::before,
.check4::before,
.jojo::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  background: black;
  border-radius: 2.5rem;
}
.check1::after,
.check2::after,
.check3::after,
.check4::after,
.jojo::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 2.5rem;
  transition: 0.25s;
  border: 2px solid black;
}
.check1:checked::after,
.check2:checked::after,
.check3:checked::after,
.check4:checked::after,
.jojo:checked::after {
  left: 2.5rem;
  border: 2px solid blue;
}
.check1:checked::before,
.check2:checked::before,
.check3:checked::before,
.check4:checked::before,
.jojo:checked::before {
  background: blue;
}

.check5 {
  position: relative;
  width: 5rem;
  cursor: pointer;
}
.check5::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 2.5rem;
  background: black;
  border-radius: 2.5rem;
}
.check5::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: white;
  border-radius: 2.5rem;
  transition: 0.25s;
  border: 2px solid black;
}
.check5:checked::after {
  left: 2.5rem;
  border: 2px solid red;
}
.check5:checked::before {
  background: red;
}/*# sourceMappingURL=framework.css.map */