/*INDEX.HTML*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5;
}

header{
    position: sticky;
    top: 0;
    opacity: 0.8;
    justify-content: space-between;
    background: gray;
    align-items: center;
    min-height: 7rem;
    display: flex;
    padding: 1rem;
    border: 0.4rem solid black;
}

.logo img {
    display: flex;
    width: 10rem;
    height: 6.5rem;
}

header a {
    display: inline-block;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    padding-right: 1rem;
}

header {
    animation: title 0.5s ease-in;
    z-index: 10;
}

@keyframes title {
    0%{transform: translatey(-100%);}
    100%{transform: translatey(0);}
}

.nav-section__element:hover {
    color: blue;
}

.nav-section__element:active {
    color: red;
}

.es {
    width: 2.5rem;
    height: 2rem;
}

.en {
    width: 2.5rem;
    height: 2rem;
}

.check {
    position: relative;
    width: 5rem;
    cursor: pointer;
}

.check::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background: black;
    border-radius: 2.5rem;
}

.check::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 2.5rem;
    transition: 0.25s;
    border: 2px solid black;
}

.check:checked::after {
    left: 2.5rem;
    border: 2px solid blue;
}

.check:checked::before {
    background: blue;
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }
}

.title{
    background-color: aqua;
    border: 0.4rem solid black;
    padding-bottom: 5rem;
    padding-top: 1rem;
    min-width: 13rem;
    max-width: 100%;
}

.title__animation {
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    animation: jump 1s infinite;
    transform: translatey(0);
}

@keyframes jump {
    0%{transform: translatey(0);}
    40%{transform: translatey(50px);}
}

.yo {
    margin: auto;
    margin-top: 10rem;
    width: 20rem;
    height: 25rem;
}
    
.yo img {
    border: 4px solid black;
    border-radius: 50%;
    width: 100%;
    cursor: pointer;
}


.section{
    background-color: greenyellow;
    border: 0.3rem solid black;
    color: white;
    font-size: 2.8rem;
    text-align: center;
    min-width: 20rem;
    max-width: 37rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: -2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    border-radius: 50%;
    position: relative;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    z-index: 1;
}

.look {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.see {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.ver {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.instrument {
    text-align: center;
    margin: auto;
}

.instrument img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
    padding: 5rem;
    margin-top: 0;
    margin-inline: 1.5rem;
    font-family: 'Audiowide', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text1{
    border: 15px solid yellow;
    box-shadow: 7px 7px 7px 7px rgb(222, 222, 30);
    background-image: url(../Utils/image/fondo-amarillo.jpg);
}

.text2{
    border: 15px solid red;
    box-shadow: 7px 7px 7px 7px rgb(215, 21, 21);
    background-image: url(../Utils/image/fondo-rojo.jfif);
}

.text3{
    border: 15px solid palevioletred;
    box-shadow: 7px 7px 7px 7px rgb(194, 104, 134);
    background-image: url(../Utils/image/fondo-rosa.jpg);
}

.text4{
    border: 15px solid peru;
    box-shadow: 7px 7px 7px 7px rgb(195, 121, 47);
    background-image: url(../Utils/image/fondo-cafe.jpg);
}

.text5{
    border: 15px solid mediumseagreen;
    box-shadow: 7px 7px 7px 7px rgb(34, 142, 83);
    background-image: url(../Utils/image/fondo\ verde.jpg);
}

.contact-style {
    background-color: aquamarine;
    border: 0.4rem solid black;
    text-align: center;
    margin: auto;
    margin-top: 3rem;
    min-height: 15rem;
    min-width: 13rem;
    max-width: 50rem;
    justify-content: center;
}

.contact{
    font-family: 'Cookie', cursive;
    font-size: 50px;
}

.mensaje{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 18px;
}

.datos{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: gray;
    border: 0.4rem solid black;
    margin: auto;
    margin-top: 1rem;
    width: 20rem;
    min-height: 10rem;
    padding: 1rem;
}

.data {
    position: relative;
}

.data input{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    background: gray;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1rem;
    transition: 0.5s;
}

.data input:valid ~ span,
.data input:focus ~ span {
    color: navy;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    padding: 0 10px;
    background: gray;
    border-left: 1px solid navy;
    border-right: 1px solid navy;
    letter-spacing: 0.2rem;
}

.data input:valid,
.data input:focus {
    border: 1px solid navy;
}

.data span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    color: rgb(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.send {
    cursor: pointer;
}


.election {
    background-color: coral;
    border: 0.2rem solid black;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    min-width: 5rem;
    max-width: 30rem;
    min-height: 5rem;
}

.final{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}

.indication {
    cursor: pointer;
}

.enviar {
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.thanks {
    margin-block: 3rem;
    color: orange;
    background: linear-gradient(gold,black);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-style: italic;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.jc {
    display: flex;
}

.jc img {
    width: 50%;
    border: 2px solid black;
}

.main-container {
    margin: auto;
    margin-right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon,
.card-container,
.card-name,
.card-icon1,
.card-container1,
.card-name1 {
    position: relative;
    box-shadow: 0px 0px 40px 5px rgba(35,4,7,1);
}

.card-icon,
.card-container,
.card-name {
    background: linear-gradient(140deg, #0EA3E3, #F4E0D9, #011924);
}

.card-icon1,
.card-container1,
.card-name1 {
    background: linear-gradient(140deg, #F4E0D9, #F1CC35, #F1AD35);
}

.card-icon,
.card-icon1 {
    width: 120px;
    height: 40px;
    position: relative;
    left: -105px;
    top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.icon,
.icon1 {
    position: absolute;
    top: 15px;
}

.icon {
    top: 35px;
}

.icon1 {
    top: 25px;
}

.icon img {
    width: 150px;
}
.icon1 img {
    width: 130px;
}

.club-name {
    display: block;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.card-container,
.card-container1 {
    width: 280px;
    min-height: 500px;
}

.img-uno,
.img-dos {
    position: absolute;
    right: 0;
    z-index: 3;
}

.img-uno {
    left: 50px;
}

.img-dos {
    bottom: 42.5px;
    left: 55px;
}

.img-uno img {
    width: 280px;
    height: 490px;
}

.img-dos img {
    width: 250px;
    height: 490px;
}

.shirt-number {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 270px;
    padding: 10px 0 0 13px;
    color: #fff;
}

.banner,
.img-banner {
    width: 42px;
}

.banner {
    position: absolute;
    left: 10px;
    bottom: 55px;
}

.card-name,
.card-name1 {
    width: 50px;
    height: 550px;
    position: absolute;
    right: -25px;
    top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.name-1 {
    font-family: 'Bungee Inline', cursive;
    font-size: 48px;
    color: #fff;
    text-orientation: upright;
    writing-mode: vertical-rl;
}

.descriptive-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 45px;
    background-image: url();
    background-size: cover;
    background-position: center;
    box-shadow: 0px -2px 9px 0px rgba(20,2,4,1);
}

.descriptive-text p {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.end {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    position: sticky;
    bottom: 0;
    font-size: 0;
    animation: footer 0.5s ease-in;
    z-index: 3;
}

@keyframes footer {
    0%{transform: translatey(100%);}
    100%{transform: translatey(0);}
}

.bottom1 {
    background-color: greenyellow;
    width: 3rem;
    border-radius: 20px;
}

.bottom2 {
    background-color: blue;
    width: 3rem;
    border-radius: 25px;
}

.bottom3 {
    background: linear-gradient(to left bottom, blueviolet 20%, red 55%, yellow);
    width: 3rem;
    border-radius: 15px
}

.bottom4 {
    background-color: cyan;
    width: 3rem;
}

.bottom5 {
    background-color: red;
    width: 3rem;
    border-radius: 10px;
}

/*PORTAFOLIO.HTML*/

.nav-section__title {
    font-size: 3rem;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: stretch;
    background-color: green;
    min-width: 1rem;
    max-width: 100%;
    margin: auto;
}

.element {
    text-align: center;
    line-height: 150px;
    border: 0.1rem solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.element__image {
    height: 100%;
    width: 100%;
}

.box1 {
    grid-column: 1/4;
    background-color: purple;
}

.es {
    width: 2.5rem;
    height: 2rem;
}

.en {
    width: 2.5rem;
    height: 2rem;
}

.marca {
    position: relative;
    width: 5rem;
    cursor: pointer;
}

.marca::before {
    content: "";
    position: absolute;
    width: 5rem;
    height: 2.5rem;
    background: black;
    border-radius: 2.5rem;
}

.marca::after {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border-radius: 2.5rem;
    transition: 0.25s;
    border: 2px solid black;
}

.marca:checked::after {
    left: 2.5rem;
    border: 2px solid blue;
}

.marca:checked::before {
    background: blue;
}

/*TROLEO.HTML*/

.troleado {
    background-color: darkorchid;
    text-align: center;
    border: 3px solid black;
}

.dio-background {
    background: rgb(187, 4, 4);
}

.dio {
    margin: auto;
    margin-top: 2rem;
    width: 70%;
    height: 50%;
}

.dio img {
    cursor: pointer;
    border: 4px solid black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

/*EASTER-EGG1.HTML*/

.easter-egg1__title {
    border: 3px solid red;
    background: pink;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 2rem;
}

.easter-egg1__image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*EASTER-EGG2.HTML*/

.background {
    background-color: darkgoldenrod;
}

.easter-egg2__title {
    border: 3px solid gold;
    background: goldenrod;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

.easter-egg2__image {
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    height: 50%;
}

.easter-egg2__image img{
    border-radius: 50%;
    border: 3px solid green;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*EASTER-EGG3.HTML*/

.background-image {
    background-image: url(../Utils/image/resplandor.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.easter-egg3__title {
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 3px solid black;
    background: gold;
    text-align: center;
}

.easter-egg3__image {
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    height: 50%;
}

.easter-egg3__image img{
    border-radius: 50%;
    border: 3px solid green;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*EASTER-EGG4.HTML*/

.easter-egg4__title {
    background: black;
    text-align: center;
    font-family: 'Cookie', cursive;
    color: white;
    font-size: 2rem;
}

.easter-egg4__image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*EASTER-EGG5.HTML*/

.nightmare {
    background-color: black;
}

.nightmare::-webkit-scrollbar {
    width: 18px;
}

.nightmare::-webkit-scrollbar-track {
    border-radius: 10px;
    border-right: 1px solid white;
    margin-block: 0.5rem;
}

.nightmare::-webkit-scrollbar-thumb {
    border-right: 1px solid white;
    border-radius: 10px;
}

.easter-egg5__text {
    text-align: center;
    font-family: 'Creepster', cursive;
    color: red;
    background-image: url(../Utils/image/sangre\ cayendo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3rem;
    margin-bottom: 10rem;
}

.bloody-pictures {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: stretch;
    min-width: 1rem;
    max-width: 100%;
    margin: auto;
}

.picture1,
.picture2,
.picture3,
.picture4,
.eye,
.all-space {
    height: 100%;
    width: 100%;
}

.picture1,
.picture2,
.picture3,
.picture4 {
    grid-column: 1/3;
    height: 30rem;
}

.all-space {
    grid-column: 1/3;
}

.escape {
    text-align: center;
    background-image: url(../Utils/image/sangre\ chorreando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.escape a {
    font-family: 'Creepster', cursive;
    color: white;
    text-decoration: none;
    font-size: 5rem;
}

.escape a:hover {
    color: rgb(183, 22, 22);
}

.blood {
    height: 100%;
    width: 100%;
}